.view.feed {

  .reply-form,
  .new-post-form {
    background: var(--theme-color-faded);
    padding: 15px;

    .possible-mentions {
      position: absolute;
      top: 65px;
      overflow-y: auto;
      height: 45px;
      margin: 0 0 0 40px;
      padding: 0;
      width: 200px;

      li {
        border-bottom: 1px solid var(--theme-color-box-shadow);
      }
    }
  }

  .new-post-form {

    .inputs {
      display: flex;
      flex-wrap: nowrap;
      position: relative;
    }

    .char-count {
      margin-right: 5px;
      color: var(--theme-color);
      opacity: .55;
      font-size: .8rem;
      font-weight: 600;
      vertical-align: middle;
    }

    .actions {
      text-align: right;
      margin-top: 10px;
      display: none;

      &.editing {
        display: block;
      }
    }

    textarea {
      display: inline-block;
    }

    .avatar-container {
      vertical-align: top;
      margin-right: 10px;
    }

    .avatar {
      margin-top: 3px;
    }
  }
}
